<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head-tags") %>
  </head>

  <body>
    <%- include("partials/navigation") %> Form

    <h1>Register</h1>

    <form>
      <div>
        <input
          type="text"
          id="name"
          placeholder="Name"
          name="name"
          value=""
          id="name"
        />
      </div>
      <div>
        <input
          type="text"
          id="email"
          placeholder="Email"
          name="email"
          id="email"
        />
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          name="password"
          id="password"
        />
      </div>
    </form>
    <button id="on-submit" onclick="submit()">Submit</button>
    <script type="text/javascript">
      const submitButton = document.getElementById("on-submit");

      async function submit() {
        let userName = document.getElementById("name");
        let userEmail = document.getElementById("email");
        let userPassword = document.getElementById("password");

        const userRoute = await fetch("/api/users", {
          headers: { "Content-Type": "application/json; charset=utf-8" },
          method: "POST",
          body: JSON.stringify({
            name: userName,
            email: userEmail,
            password: userPassword
          })
        });

        userRoute();
      }
    </script>
  </body>
</html>
