<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head-tags") %>
  </head>

  <body>
    <%- include("partials/navigation") %> Form

    <h1>Register</h1>

    <div>
      <input type="text" placeholder="Name" name="name" id="name" />
    </div>
    <div>
      <input type="text" placeholder="Email" name="email" id="email" />
    </div>
    <div>
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
      />
    </div>
    <button id="on-submit"></button>

    <script>
      const submitButton = document.getElementById("on-submit");
      submitButton.addEventListener("click", e => {
        let userName = document.getElementsByName("name");

        console.log(e, userName.value);
      });
    </script>
  </body>
</html>
