<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head-tags") %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include("partials/navigation") %> Form

    <h1>Register</h1>

    <form>
      <div>
        <input
          type="text"
          id="name"
          placeholder="Name"
          name="name"
          value=""
          id="name"
        />
      </div>
      <div>
        <input
          type="text"
          id="email"
          placeholder="Email"
          name="email"
          id="email"
        />
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          name="password"
          id="password"
        />
      </div>
      <button id="on-submit">Submit</button>
    </form>

    <script type="text/javascript">
      const submitButton = document.getElementById("on-submit");

      $(submitButton).click(function() {
        let userName = $("#name").val();
        let userEmail = $("#email").val();
        let userPassword = $("#password").val();

        $.ajax({
          url: "/api/users",
          type: "POST",
          dataType: "json",
          data: JSON.stringify({
            name: userName,
            email: userEmail,
            password: userPassword
          }),
          success: function(data) {
            console.log(data);
          },
          error: function(err) {
            console.log(err);
          }
        });
      });
    </script>
  </body>
</html>
